{% extends "base.html" %}

{% block title %}Edit your account{% endblock %}

{% block content %}
  <h1>Edit your account</h1>
  <p>You can edit your account using the following form:</p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <p><input type="submit" value="Save changes"></p>
  </form>
{% endblock %}

{% block dom_ready %}
  // Находим все кнопки закрытия
  document
  .querySelectorAll(".messages .close")
  .forEach(function(closeButton) {
    // Добавляем обработчик клика на кнопку закрытия
    closeButton.addEventListener("click", function(event) {

      // Предотвращаем переход по ссылке
      event.preventDefault();

      // Само сообщение (li)
      const messageItem = closeButton.parentElement;

      // Список сообщений (ul)
      const messageList = messageItem.parentElement;

      // Удаляем сообщение
      messageItem.remove();

      // Проверяем, остались ли еще сообщения
      if (messageList.children.length === 0) {
        // Удаляем ul, если сообщений больше нет
        messageList.remove();
      }
    });
  });
{% endblock %}